*.cpp diff=sjis
*.h diff=sjis
git config --global diff.sjis.textconv "iconv -f SHIFT-JIS -t UTF-8"*.cpp text working-tree-encoding=sjis diff=sjis
*.h text working-tree-encoding=sjis diff=sjis
git add --renormalize .