*.user
*.aps
*.lib
*.dll
*.pdb
*.cso
/Libs/lib/
/**/Temp/
/**/Debug/
/**/Release/
/**/.vs/
.vs/
media/Effects/Effekseer153eWin/Tool/Effekseer.exe

# git diff, git show 時に文字コード変換
[diff "cp932"]
    textconv=iconv -f cp932 -t utf-8
[diff "sjis"]
    textconv=iconv -f sjis -t utf-8