*.cpp diff=sjis
*.h diff=sjis
git config --global diff.sjis.textconv "iconv -f sjis -t utf-8"
*.cpp text working-tree-encoding=sjis diff=sjis
*.h text working-tree-encoding=sjis diff=sjis
git add --renormalize .